@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

html, body {
    margin: 0;
    padding: 0 
}


.nav-bar {
    border:1px;
    width: 100%;
    height: 75px;
    background-color: rgb(1, 19, 59);
}
.form-search input {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border: #0b7dda;
    border-radius: 10px;
}
.form-search label {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    
}
.form-search button {
    float: left;
    width: 10% ;
    padding: 10px;
    background: #142c9b;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
   
}
.form-search button:hover {
    background: #0b7dda;
  }

.artists_painel-content {
    border:solid 1px;
    width: 500px;  
    margin-top: 5px;
    
   
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    margin-top: 5%;
    margin-left: 20%;
}

.name_track {
    margin-top: 20px;
    color: #272b2c;
    
}

.artists_name{
    color:black;
}

.artists_painel-content button {
    color: #272b2c;
    border: white;
}

.artists_painel-content button:hover {
    background: #142c9b;
    color:white
}

.grid-image {
    width: 150px;
    
}
